<section class="card">
    <header>Enter your comment:</header>
    <form action="">
    <textarea name="commentbox" id="commentbox" cols="100" rows="5"></textarea>
    <br>
    <button type="submit">Post a Comment</button>
    </form>
</section>